@inject HttpClient HttpClient
@inject CartService CartService
@implements IDisposable

<NavLink href="/carrinho">
    <i class="oi oi-cart"></i><span class="ml-3">@Carrinho.QuantidadeDeItens @(Carrinho.QuantidadeDeItens == 1 ? "item" : "itens")</span>
</NavLink>

@code {
    private Models.Carrinho Carrinho = new Models.Carrinho();

    protected override async Task OnInitializedAsync()
    {
        await AtualizarCarrinho();
    }

    async Task AtualizarCarrinho()
    {
        Carrinho = await CartService.GetCarrinho();
        StateHasChanged();
    }

    void CartChanged()
    {
        AtualizarCarrinho();
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += CartChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= CartChanged;
    }
}
