@page "/"
@using IntelligentCheckout.Frontend.Shared
@using IntelligentCheckout.Frontend.Client.Components
@inject HttpClient httpClient

<div class="card-deck">
    @if (Produtos == null)
    {
        <div class="row">
            <div class="col-sm-12">
                <center>Carregando...</center>
            </div>
        </div>
    }
    else
    {
        <div class="card-deck">
            @foreach(Produto prod in Produtos)
            {
                <CardProduto Produto="@prod" />
            }
        </div>
    }
</div>

@code {
    private Produto[] Produtos;

    protected override async Task OnInitializedAsync()
    {
        //var resp = await httpClient.GetStringAsync("/produtos.json");
        //Produtos = JsonConverter
    }
}
