@page "/"

<h1>Seja bem vindo!</h1>
<hr/>
<p>Bem vindo a demonstração do checkout inteligente, uma aplicação de demonstração de um sistema de compra com pagamento através de confirmação por identificação facial.</p>

<p>Esta solução apresenta a integração de diversas tecnologias como:</p>

<p>
    <ul>
        <li>ASP.NET Core</li>
        <li>Blazor</li>
        <li>Azure Cognitive Services</li>
        <li>Blockchain</li>
    </ul>
</p>
