@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IBootstrapCSS BootstrapCSS
@using Microsoft.AspNetCore.WebUtilities
@using IntelligentCheckout.Frontend.Components.Carrinho


<div class="main">
    <div class="top-row px-4">
        <div class="col-lg-3 text-right">
            <NavLink href="/">
                <img src="/img/logo_developers.png" asp-append-version="true" style="height: 45px;" />
            </NavLink>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar produtos" id="input-search" @bind-value="Conteudo" @onkeyup="@PesquisarOnEnter">
                <button type="button" id="nav-search-btn" @onclick="@Pesquisar"><i class="oi oi-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="col-lg-3 text-white">
            <LinkCarrinho />
        </div>
    </div>
    <div class="content px-4">
        <div class="container mt-4">
            @Body
        </div>
    </div>
</div>

@code
{
    private string Conteudo { get; set; }
    private bool isServerSide = false;

    public void Pesquisar()
    {
        if (!string.IsNullOrWhiteSpace(Conteudo))
        {
            string url = $"/pesquisar?conteudo={Conteudo}";
            NavigationManager.NavigateTo(url);
        }
    }

    public void PesquisarOnEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            Pesquisar();
        }
    }

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("conteudo", out var tempConteudo))
        {
            Conteudo = tempConteudo.ToString().Trim();
        }

        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await BootstrapCSS.SetBootstrapCSS("4.3.1");
        }
        catch (Exception)
        {
            isServerSide = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstrun)
    {
        System.Diagnostics.Debug.WriteLine("TESTE");
        if (isServerSide && firstrun)
        {
            await BootstrapCSS.SetBootstrapCSS("4.3.1");
        }
    }
}
