@page "/"
@using IntelligentCheckout.Frontend.Models
@using IntelligentCheckout.Frontend.Components.Produtos
@inject HttpClient HttpClient

<div class="container">
    @if (Produtos == null)
    {
        <div class="row">
            <div class="col-sm-12">
                <center>Carregando...</center>
            </div>
        </div>
    }
    else
    {
        <div class="row mt-4">
            @foreach(Produto prod in Produtos)
            {
                <div class="col-sm col-md-3 col-lg-4 mb-4">
                    <CardProduto Produto="@prod" />
                </div>
            }
        </div>
    }
</div>

@code {
    private Produto[] Produtos;

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetJsonAsync<ProdutoIEnumerableResposta>("/sample-data/produtos.json");
        Produtos = response.Data.ToArray();
    }
}
