@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <div class="col-lg-3 text-right">
            <img src="/img/logo_developers.png" asp-append-version="true" style="height: 45px;" />
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar produtos" id="input-search">
                <button type="button" id="nav-search-btn"><i class="oi oi-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="col-lg-3 text-white">
            <a href="https://www.google.com"><i class="oi oi-thumb-up"></i> Conheça nossa comunidade!</a>
        </div>
    </div>
    <div class="top-row px-4">
        <div class="col-lg-3 text-right text-white">
            <i class="oi oi-target"></i>
            Enviar para <br/>
            <small>Endereço</small>
        </div>
        <div class="col-lg-6">
            <a href="#" class="mr-3">Categorias</a>
            <a href="#" class="mr-3">Produtos</a>
            <a href="#" class="mr-3">Arquitetura</a>
            <a href="#" class="mr-3">Links Úteis</a>
        </div>
        <div class="col-lg-3 text-white">
            <a href="www.google.com" class="mr-3"><i class="oi oi-person"></i> Nome Usuario</a>
            <a href="www.google.com"><i class="oi oi-cart"></i></a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private int qtdCarrinho = 0;
}
